<div class="topnav" th:fragment="navigation">
    <div>
        <a class="fa badge fa-5x" href="/home">&#xf015</a>
        <a href="/user/redirectToSignInPage">Login </a>
        <a href="/user/redirectToSignUpPage">Registration </a>
    </div>
    <div th:if="${session.user!=null and session.user.name!=null}">
        <a class="fa badge fa-5x" href="/user/redirectToProfilePage">&#xf007</a>
        <a href="/user/logout">Log out </a>
    </div>
    <div th:if="${session.cart!=null and session.cart.quantity!=null}">
        <a class="fa badge-cart fa-5x" href="/cart/redirectToCartPage" value="5"
           th:utext="${'&#xf07a'} + ${session.cart.quantity}"></a>
    </div>
    <div class="search-container">
        <form class="search-form" th:action="@{/product/search}">
            <label><input type="text" placeholder="Search.." th:name="searchKey"></label>
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>