<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<div class="topnav" th:fragment="navigation">
    <img src="/img/e_shop_logo.png" alt="e-shop logo">
    <a class="fa badge fa-5x" href="/home">&#xf015 Home</a>
    <a href="/login">Login </a>
    <a href="/registration">Registration </a>
    <div sec:authorize="isAuthenticated()">
        <a class="fa badge fa-5x" href="/logout">&#xf08b Log out</a>
        <a class="fa badge fa-5x" href="/profile">&#xf007 Profile</a>
        <a class="fa badge-cart fa-5x" href="/cart"
           th:value="${session?.cartDto?.quantity != null ? session.cartDto.quantity : '0'}">
            &#xf07a Cart</a>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <a class="fa badge fa-5x" href="/admin">Admin</a>
    </div>
    <div class="search-container">
        <form class="search-form" th:action="@{/product/search}">
            <label><input type="text" placeholder="Search.." th:name="searchKey" required></label>
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>
</html>