:root {
    --color-button: #04AA6D;
    --color-button-hover: #1ad18c;
    /*var(--color-button);*/
    /*var(--color-button-hover);*/
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
    display: flex;
}

.topnav img {
    width: 150px;
    height: 50px;
    float: left;
    display: block;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover {
    background-color: var(--color-button-hover);;
    color: white;
}

.topnav a.active {
    background-color: var(--color-button);
    color: white;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: var(--color-button);
    font-size: 17px;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 30px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.topnav .search-container button:hover {
    background: var(--color-button-hover);;
}

.search-container {
    margin-left: auto;
}

.search-form {
    display: flex;
}

@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }

    .topnav a, .topnav input[type=text], .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .topnav input[type=text] {
        border: 1px solid #ccc;
    }

}


/*general button style*/
/**/
button {
    border: none;
    color: white;
    padding: 12px 26px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--color-button);
    border-radius: 7px;
}

button:hover {
    background: var(--color-button-hover);;
}

/*Shopping cart Icon*/
/**/
.topnav .badge-cart:after {
    content: attr(value);
    font-size: 18px;
    color: #fff;
    background: var(--color-button);
    border-radius: 50%;
    padding: 0 5px;
    position: relative;
    left: -4px;
    top: -10px;
    opacity: 0.9;
}

.topnav .badge:after {
    position: relative;
}


/* Add padding to containers */
.container {
    width: 500px;
    margin: 0 auto auto;
    background-color: white;
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email], input[type=date] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=date]:focus {
    background-color: #ddd;
    outline: none;
}

.password-container {
    position: relative;
}

.password-input {
    display: flex;
    align-items: center;
}

.password-input input {
    padding-right: 30px; /* Add some padding to the right to make space for the toggle icon */
}

.toggle-password {
    position: absolute;
    right: 5px;
    cursor: pointer;
}


/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the register button */
.register-btn {
    margin: 8px 0;
    width: 100%;
}

/* Set a style for the order button */
.order-btn {
    width: 100%;
}

/* Set a style for the remove all button */
.clear-cart-btn {
    width: 10%;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}


.imgcontainer {
    text-align: center;
}

img.avatar {
    margin-top: 20px;
    width: 7%;
    border-radius: 50%;
}


/*Profile Card*/
/**/
.card-profile {
    max-width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: var(--color-button);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}


/*Star Rating*/
/**/
.checked {
    color: orange;
}


/* Pagination links */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border: 1px solid var(--color-button);
}

.pagination li a:hover {
    background-color: var(--color-button-hover);
    color: white;
}

.pagination li a.active {
    background-color: var(--color-button);
}

.pagination li.disabled a {
    color: var(--color-button);
    pointer-events: none;
}


/*Product card*/
/**/
.card-product {
    padding: 0 2px 10px 2px;
    /*border: 1px solid red;*/
}

.card-block {
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    /*border: 1px solid greenyellow;*/
    display: flex;
}

.card-block > div {
    /*border: 1px solid blue;*/
    flex: 1;
    margin: 0.9em;
}

.card-block img {
    width: 90%;
    height: 65%;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: var(--color-button);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

button:hover, a:hover {
    opacity: 0.7;
}

.card-product h2 {
    text-align: center;
}


/*one product card */
/**/
.one-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    margin: auto;
    text-align: center;
}

.one-card-price {
    color: grey;
    font-size: 22px;
}

.one-card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: var(--color-button);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.one-card-button:hover {
    opacity: 0.7;
}

.one-card img {
    width: 90%;
}


/*main content*/
/**/
.main-content {
    height: 100vh;
    padding: 20px;
}


/*footer*/
/**/
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--color-button);
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
}

.social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 10px 0 10px 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}


/*Shopping Cart*/
/**/
.shopping-cart {
    width: 98%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.shopping-cart h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}

.column-labels {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-block {
    border-bottom: 1px solid #ccc;
    display: flex;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    align-items: center;
}

.product {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.product-image {
    width: 200px;
    margin-right: 20px;
}

.product-image img {
    width: 100%;
}

.product-name,
.product-description,
.product-price {
    flex-grow: 1;
    font-size: 18px;
}

.product-price {
    font-size: 24px;
}

.product-removal {
    flex-basis: 100px;
}

.product-removal button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.product-removal button:hover {
    background-color: #f44336;
    color: white;
}

.totals {
    margin-top: 30px;
}

.totals-item {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.totals-item label {
    flex-grow: 1;
}

.totals-value {
    font-weight: bold;
}

.totals-item-total {
    margin-top: 20px;
    font-size: 32px;
}

.clear-cart-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    float: right;
    margin-bottom: 20px;
}

.clear-cart-btn:hover {
    background-color: #e53935;
}

.order-btn {
    background-color: var(--color-button-hover);;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.order-btn:hover {
    background-color: #0e8a61;
}

/*order page*/
/*table*/
.order-content {
    padding: 10px 0 10px 10px;
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    padding: 10px 0;
}

.product-image img {
    max-width: 100px;
    max-height: 100px;
}

/*error page*/
/**/
.error-content {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 140px;
}

.error-content img {
    width: 300px;
    margin: auto;
}

.error-content p {
    color: #e53935;
}

.error-content button {
    display: block;
    margin: auto;
    width: 20%;
}


/*Order history page*/
/**/
table {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 50%;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: var(--color-button);
    color: white;
}