<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link th:href="@{/CSS/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<div th:insert="~{fragment/topnav :: navigation}"></div>

<body>
<div th:switch="${users}">
    <h2 th:case="null">No users yet!</h2>
    <div th:case="*">
        <h2>users:</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>name</th>
                <th>password</th>
                <th>email</th>
                <th>birthday</th>
                <th>balance</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.userId}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.password}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.birthDate}"></td>
                <td th:text="${user.balance}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
<div th:insert="~{fragment/footer :: footer}"></div>
</html>