<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cart page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/styles/styles/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:insert="~{include/topnav :: navigation}"></div>
<h2>Shopping Cart</h2>
<form th:action="@{'/cart/clear'}" method="post">
    <button type="submit" class="remove-all-btn">Remove all</button>
</form>
<div class="shopping-cart">
    <p th:text="${user.name}"></p>
    <div class="column-labels">
        <label class="product-image">Image</label>
        <label class="product-name">Name</label>
        <label class="product-description">Description</label>
        <label class="product-price">Price</label>
        <label class="product-removal">Remove</label>
    </div>

    <div th:each="p : ${cart.getProducts()}" class="product-block">
        <div class="product">
            <div class="product-image">
                <img src="https://www.w3schools.com/w3images/jeans3.jpg" alt="Denim Jeans">
            </div>
            <div class="product-name" th:text="${p.name}"></div>
            <div class="product-description" th:text="${p.description}"></div>
            <div class="product-price" th:utext="${'&#36;'+'&nbsp;'} + ${p.price}"></div>
            <div class="product-removal">
                <form th:action="@{'/cart/remove/' + ${p.productId}}" method="post">
                    <button type="submit">remove</button>
                </form>
            </div>
        </div>
    </div>

    <div class="totals">
        <div class="totals-item totals-item-total">
            <label>Grand Total</label>
            <div class="totals-value" id="cart-total" th:text="${'&#36;'+'&nbsp;'} + ${cart.totalPrice}"></div>
            <hr>
        </div>
        <form method="post" th:action="@{'/cart/order/' + ${user.userId}}" th:value="${cart}">
            <button type="submit" class="order-btn">Order</button>
        </form>
    </div>
</div>
</body>
<div th:insert="~{include/footer :: footer}"></div>
</html>