<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Cart page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/CSS/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
<div th:insert="~{fragment/topnav :: navigation}"></div>
<h2>Shopping Cart</h2>
<form th:action="@{'/cart/clear'}" method="post">
    <button type="submit" class="clear-cart-btn">Clear cart</button>
</form>
<div class="shopping-cart">
    <p sec:authentication="principal.username"></p>
    <div class="column-labels">
        <label class="product-image">Image</label>
        <label class="product-name">Name</label>
        <label class="product-description">Description</label>
        <label class="product-price">Price</label>
        <label class="product-removal">Remove</label>
    </div>

    <div th:each="p : ${cartDto.getProducts()}" class="product-block">
        <div class="product">
            <div class="product-image">
                <img th:src="|${p.image.link}|" th:alt="|${p.image.link}|">
            </div>
            <div class="product-name" th:text="${p.name}"></div>
            <div class="product-description" th:text="${p.description}"></div>
            <div class="product-price" th:utext="${'&#36;'+'&nbsp;'} + ${p.price}"></div>
            <div class="product-removal">
                <form th:action="@{'/cart/remove/' + ${p.productId}}" method="post">
                    <button type="submit">remove</button>
                </form>
            </div>
        </div>
    </div>

    <div class="totals">
        <div class="totals-item totals-item-total">
            <label>Grand Total</label>
            <div class="totals-value" id="cart-total" th:text="${'&#36;'+'&nbsp;'} + ${cartDto.totalPrice}"></div>
            <hr>
        </div>
        <form method="post" th:action="@{/cart/order/{userId}(userId=${#authentication.principal.userId})}" th:value="cartDto">
            <button type="submit" class="order-btn">Order</button>
        </form>
    </div>
</div>
</body>
<div th:insert="~{fragment/footer :: footer}"></div>
</html>