<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Category page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/styles/styles/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
<div th:insert="~{include/topnav :: navigation}"></div>

<div class="main-content">
    <div class="card-product" th:if="${productPage!=null}">
        <h2>Product Card</h2>
        <div class="card-block">
            <div th:each="product, iStat : ${productPage.content}"
                 th:style="${iStat.odd}? 'font-weight: bold;'"
                 th:alt-title="${iStat.even}? 'even' : 'odd'">
                <img src="https://www.w3schools.com/w3images/jeans3.jpg" alt="Denim Jeans">
                <a th:href="@{'/product/' + ${product.productId}}" th:text="${product.name}"></a>
                <span class="price" th:utext="${'&#36;'+'&nbsp;'}"></span>
                <span class="price" th:text="${product.price}"></span>
                <p th:text="${product.description}"></p>
                <!--          <form method="post" th:action="@{/cart/add/(product_id=${product.productId})}">-->
                <form method="post" th:action="@{'/cart/add/' + ${product.productId}}">
                    <button type="submit">Add to Cart</button>
                </form>
            </div>
        </div>
        <div class="pagination" th:if="${productPage.totalPages > 0}" th:each="pageNumber : ${pageNumbers}">
            <a th:href="@{/product/listProducts(size=${productPage.size}, page=${pageNumber})}"
               th:text=${pageNumber}
               th:class="${pageNumber==productPage.number + 1} ? active"></a>
        </div>
    </div>
</div>
</body>
<div th:insert="~{include/footer :: footer}"></div>
</html>