<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Category page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/CSS/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
<div th:insert="~{fragment/topnav :: navigation}"></div>

<div class="main-content">
    <div class="card-product" th:if="${products!=null}">
        <h2>Product Card</h2>
        <div class="card-block">
            <div th:each="product, iStat : ${products.content}"
                 th:style="${iStat.odd}? 'font-weight: bold;'"
                 th:alt-title="${iStat.even}? 'even' : 'odd'">
                <img th:src="|${product.image.link}|" th:alt="|${product.image.link}|">
                <a th:href="@{'/product/' + ${product.productId}}" th:text="${product.name}"></a>
                <span class="price" th:utext="${'&#36;'+'&nbsp;'}"></span>
                <span class="price" th:text="${product.price}"></span>
                <p th:text="${product.description}"></p>
                <form method="post" th:action="@{'/cart/add/' + ${product.productId}}">
                    <button type="submit">Add to Cart</button>
                </form>
            </div>
        </div>
    </div>
    <nav>
        <ul class="pagination">
            <li th:class="${currentPage == 0} ? disabled : ''">
                <a th:href="@{/category(categoryId=${categoryId.get()})}">First</a>
            </li>
            <li th:if="${products.totalPages > 0}" class="page-link"
                th:each="pageNumber : ${pageNumbers}">
                <a th:href="@{/category(size=${products.size}, page=${pageNumber}, categoryId=${categoryId.get()})}"
                   th:text=${pageNumber}
                   th:class="${pageNumber==products.number + 1} ? active" class="page-link">
                </a>
            </li>
            <li th:class="${currentPage == pageNumbers[pageNumbers.size() - 1] ? 'disabled' : ''}">
                <a th:href="@{/category(page=${pageNumbers[pageNumbers.size() - 1]}, categoryId=${categoryId.get()})}">Last</a>
            </li>
        </ul>
    </nav>
</div>
</body>
<!--<div th:insert="~{include/footer :: footer}"></div>-->
</html>