<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>А
  <title>Error page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link th:href="@{/styles/style.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="~{include/topnav :: navigation}"></div>

<h2>Error</h2>

<div class="container-fluid mb-4">
  <h1 class="alert alert-danger" role="alert" th:text="${error}"></h1>
  <a th:href="@{/home}">
    <button type="button" class="btn btn-danger">Try again...</button>
  </a>
</div>
</body>
<div th:insert="~{include/footer :: footer}"></div>
</html>
