<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Home page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/CSS/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
<div th:insert="~{fragment/topnav :: navigation}"></div>
<div class="main-content" style="padding-left:80px">
    <h2>Categories</h2>
    <div th:each="c : ${categories}">
        <p>
            <a style="font-size: 32px" th:href="@{/category(categoryId=${c.categoryId})}" th:text="${c.name}"></a>
            <span>Rating</span>
            <span th:each="goldStars : ${#numbers.sequence(1, c.rating)}"
                  class="fa fa-star checked"></span>
            <span th:if="${'5'-c.rating &gt; '0'}" th:each="blackStars : ${#numbers.sequence(1, '5'-c.rating)}"
                  class="fa fa-star"></span>
        </p>
    </div>
</div>
</body>
<div th:insert="~{fragment/footer :: footer}"></div>
</html>