<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
</head>
<body>
<div class="topnav">
    <a class="active" href="/redirectToHomePage">Home</a>
    <a href="#contact">Category </a>
    <a href="/redirectToLogInPage">Login </a>
    <a href="/redirectToRegistrationPage">Registration </a>
    <a href="/redirectToProfilePage">Profile </a>
    <div class="search-container">
        <form action="/search">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>

<div style="padding-left:16px">
    <h2>Responsive Search Bar</h2>

    <p>Get your users <a href="/users">here</a></p>
</div>
</body>
</html>