<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Order page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/CSS/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
<div th:insert="~{include/topnav :: navigation}"></div>
<div class="order-content">
    <h1 th:text="${order.orderId}">Order</h1>
    <h3 th:text="${order.createdAt}">createdAt</h3>
    <h3 sec:authentication="principal.name">Name</h3>

    <div class="header">
        <label class="product-image">Image</label>
        <label class="product-name">Name</label>
        <label class="product-description">Description</label>
        <label class="product-price">Price</label>
    </div>

    <div th:each="p : ${order.products}" class="product-row">
        <div class="col">
            <div class="product-image">
                <img src="https://www.w3schools.com/w3images/jeans3.jpg" alt="Denim Jeans">
            </div>
            <div class="col" th:text="${p.name}"></div>
            <div class="col2" th:text="${p.description}"></div>
            <div class="col" th:utext="${'&#36;'+'&nbsp;'} + ${p.price}"></div>
        </div>
    </div>
</div>
</body>
<div th:insert="~{include/footer :: footer}"></div>
</html>