<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
</head>
<body>
<div class="topnav">
    <a class="active" href="/home">Home</a>
    <a href="/user/redirectToSignInPage">Login </a>
    <a href="/user/redirectToSignUpPage">Registration </a>
    <a href="/user/redirectToProfilePage">Profile </a>
    <div class="search-container">
        <form th:action="@{/product/search}">
            <label><input type="text" placeholder="Search.." th:name="searchKey"></label>
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>

<h2 style="text-align:center">Product Card</h2>

<div class="card" style="align-items: center">
    <div th:if="${product!=null}">
        <img src="https://www.w3schools.com/w3images/jeans3.jpg" alt="Denim Jeans" style="width:100%">
        <h1 th:href="@{'/product/' + ${product.productId}}" th:text="${product.name}"></h1>
        <span class="price" th:utext="${'&#36;'+'&nbsp;'}"></span>
        <span class="price" th:text="${product.price}"></span>
        <p th:text="${product.description}"></p>
        <p>
            <button>Add to Cart</button>
        </p>
    </div>

    <div th:if="${products!=null}">
        <div th:each="product : ${products}">
            <img src="https://www.w3schools.com/w3images/jeans3.jpg" alt="Denim Jeans" style="width:100%">
            <h1 th:href="@{'/product/' + ${product.productId}}" th:text="${product.name}"></h1>
            <span class="price" th:utext="${'&#36;'+'&nbsp;'}"></span>
            <span class="price" th:text="${product.price}"></span>
            <p th:text="${product.description}"></p>
            <p>
                <button>Add to Cart</button>
            </p>
            <hr>
        </div>
    </div>
</div>


</body>
</html>



