<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
</head>
<body>
<div class="topnav">
    <a class="active" href="/category">Home</a>
    <a href="/signing/redirectToSignInPage">Login </a>
    <a href="/signing/redirectToSignUpPage">Registration </a>
    <a href="/redirectToProfilePage">Profile </a>
    <div class="search-container">
        <form action="/search">
            <label>
                <input type="text" placeholder="Search.." name="search">
            </label>
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>

<h2 style="text-align:center">Product Card</h2>

<div class="card">
    <img src="https://www.w3schools.com/w3images/jeans3.jpg" alt="Denim Jeans" style="width:30%">
    <h1 th:href="@{'/product/' + ${product.productId}}" th:text="${product.name}"></h1>
    <p class="price" th:text="${product.price}">$</p>
    <p th:text="${product.description}"></p>
    <p>
        <button>Add to Cart</button>
    </p>
</div>
</body>
</html>



