<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/CSS/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
<div th:insert="~{fragment/topnav :: navigation}"></div>
<div class="main-content">
    <div class="one-card" th:if="${product!=null}">
        <h2>Product card</h2>
        <img class="one-card" th:src="|${product.image.link}|" th:alt="|${product.image.link}|">
        <a th:href="@{'/product/' + ${product.productId}}" th:text="${product.name}"></a>
        <span class="one-card-price" th:utext="${'&#36;'+'&nbsp;'}"></span>
        <span class="one-card-price" th:text="${product.price}"></span>
        <p th:text="${product.description}"></p>
        <p>
        <form method="post" th:action="@{'/cart/add/' + ${product.productId}}">
            <button type="submit">Add to Cart</button>
        </form>
        </p>
    </div>

    <div class="card-product" th:if="${products!=null}">
        <h2>Product Card</h2>
        <div class="card-block">
            <div th:each="p : ${products}">
                <img th:src="|${p.image.link}|" th:alt="|${p.image.link}|">
                <a th:href="@{'/product/' + ${p.productId}}" th:text="${p.name}"></a>
                <span class="price" th:utext="${'&#36;'+'&nbsp;'}"></span>
                <span class="price" th:text="${p.price}"></span>
                <p th:text="${p.description}"></p>
                <p>
                <form method="post" th:action="@{'/cart/add/' + ${p.productId}}">
                    <button type="submit">Add to Cart</button>
                </form>
                </p>
                <hr>
            </div>
        </div>
    </div>
</div>

</body>
<div th:insert="~{fragment/footer :: footer}"></div>
</html>



