<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/styles/styles/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
<div th:insert="~{include/topnav :: navigation}"></div>

<div class="card-profile">
    <h2 style="text-align:center">User Profile Card</h2>
    <img src="https://www.w3schools.com/w3images/team2.jpg" alt="John" style="width:100%">
    <p class="title">Profile</p>
    <h1 th:text="'name: ' + ${user.name}"></h1>
    <p th:text="'email: ' + ${user.email}"></p>
    <p th:text="'userId: ' + ${user.userId}"></p>
    <span th:text="'balance: ' + ${user.balance}"></span>
    <span class="price" th:utext="${'&#36;'+'&nbsp;'}"></span>
    <p th:text="'birth date: ' + ${user.birthDate}"></p>
    <div style="margin: 24px 0;">
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
    </div>
    <form th:action="@{'/order/read-history/' + ${user.userId}}" th:value="${cartDto}">
        <button type="submit" class="order-btn">Orders history</button>
    </form>
</div>
</body>
<div th:insert="~{include/footer :: footer}"></div>
</html>