<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Profile page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/CSS/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
<div th:insert="~{fragment/topnav :: navigation}"></div>
<div class="card-profile">
    <h2 style="text-align:center">User Profile Card</h2>
    <img src="https://www.w3schools.com/w3images/team2.jpg" alt="John" style="width:100%">
    <h1 sec:authentication="principal.username"></h1>
    <span>id: </span>
    <span sec:authentication="principal.userId"></span>
    <p></p>
    <span>email: </span>
    <span sec:authentication="principal.email"></span>
    <p></p>
    <span class="title" th:text="${#authentication.getAuthorities()[0].authority}"></span>
    <p></p>
    <span>balance: </span>
    <span sec:authentication="principal.balance"></span>
    <span class="price" th:utext="${'&#36;'+'&nbsp;'}"></span>
    <p></p>
    <span>birth date: </span>
    <span sec:authentication="principal.birthDate"></span>
    <div style="margin: 2px 0;">
        <a><i class="fa fa-twitter"></i></a>
        <a><i class="fa fa-linkedin"></i></a>
        <a><i class="fa fa-facebook"></i></a>
    </div>
    <form th:action="@{/order/read-history/{userId}(userId=${#authentication.principal.userId})}">
        <button type="submit" class="order-btn">Orders history</button>
    </form>
</div>
</body>
<div th:insert="~{fragment/footer :: footer}"></div>
</html>
