<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>SignIn page</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="~{include/topnav :: navigation}"></div>
<form th:action="@{/user/signin}" th:object="${login_form_dto}" method="post">
    <div class="imgcontainer">
        <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" class="avatar">
    </div>
    <div class="container">
        <h2>SignIn Form</h2>
        <label for="name"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="name" id="name" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" id="psw" required>

        <button value="Submit" type="submit">SignIn</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </div>
</form>

</body>
<div th:insert="~{include/footer :: footer}"></div>
</html>
