* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
    display: flex;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover {
    background-color: #95d9c3;
    color: white;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #04AA6D;
    font-size: 17px;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 30px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.topnav .search-container button:hover {
    background: #95d9c3;
}

.search-container {
    margin-left: auto;
}

.search-form {
    display: flex;
}

@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }

    .topnav a, .topnav input[type=text], .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .topnav input[type=text] {
        border: 1px solid #ccc;
    }

}


/*Shopping cart Icon*/
/**/
.topnav .badge-cart:after {
    content: attr(value);
    font-size: 18px;
    color: #fff;
    background: #04AA6D;
    border-radius: 50%;
    padding: 0 5px;
    position: relative;
    left: -4px;
    top: -10px;
    opacity: 0.9;
}

.topnav .badge:after {
    position: relative;
}


/* Add padding to containers */
.container {
    width: 500px;
    margin: 0 auto auto;
    background-color: white;
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email], input[type=date] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=date]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 12px 12px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}


.imgcontainer {
    text-align: center;
}

img.avatar {
    width: 7%;
    border-radius: 50%;
}


/*Profile Card*/
/**/
.card-profile {
    max-width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #04AA6D;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}


/*Star Rating*/
/**/
.checked {
    color: orange;
}


/* Pagination links */
.pagination a {
    text-decoration: none;
    font-size: 22px;
    color: black;
    text-align: center;
    /*float: ;*/
    padding: 8px 16px;
    transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
    background-color: #04AA6D;
    color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {
    background-color: #ddd;
}


/*Product card*/
/**/
.card-product {
    padding: 2px 2px 5px 2px;
    /*border: 1px solid #E44C4C;*/
}

.card-block {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    /*border: 1px solid greenyellow;*/
    display: flex;
}

.card-block > div {
    /*border: 1px solid blue;*/
    flex: 1;
    margin: 2em;
}

.card-block img {
    width: 90%;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #04AA6D;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

button:hover, a:hover {
    opacity: 0.7;
}

.card-product h2 {
    text-align: center;
}


/*one product card */
/**/
.one-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 350px;
    margin: auto;
    text-align: center;
}

.one-card-price {
    color: grey;
    font-size: 22px;
}

.one-card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #04AA6D;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.one-card-button:hover {
    opacity: 0.7;
}

.one-card img {
    width: 90%;
}


/*main-content*/
/**/
.main-content {
    height: 100vh;
    padding: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #04AA6D;
    text-align: center;
    color: white;
}


/*Shopping Cart*/
/**/
.shopping-cart {
    margin: 40px 40px 50px 60px;
    font-weight: 100;
}

.product-image {
    float: left;
    width: 10%;
}

.product-name {
    float: left;
    width: 10%;
}

.product-description {
    float: left;
    width: 60%;
}

.product-price {
    text-align: center;
    float: left;
    width: 15%;
}

.product-removal {
    float: left;
    width: 5%;
}

label {
    color: #aaa;
}

.column-labels {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.shopping-cart button {
    /*width: 110px;*/
    border: 0;
    padding: 6px 8px;
    margin-top: 20px;
    background-color: #04AA6D;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
}

.shopping-cart button:hover {
    background-color: #95d9c3;
}

/*product*/
.product-block {
    display: flex;
}

.product {
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.product img {
    height: 120px;
}

/*totals*/
/* Totals section */
.totals {

}

.totals .totals-item {
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
}

.totals label {
    float: left;
    clear: both;
    width: 79%;
    text-align: right;
}

.totals .totals-value {
    float: right;
    width: 21%;
    text-align: right;
}

.totals .totals-item label {
    width: 60%;
}

.totals .totals-item .totals-value {
    width: 40%;
}



